/* Login Form */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Nav Bar */
.navbar {
    background-color: var(--primary);
    border-bottom: solid 1px #ccc;
    position: relative;
    top: 0;
    width: 100vw;
    z-index: 9999;
  }
  
  .navbar-brand {
    color: var(--light);
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
     color: var(--light);
  }
  
  .navbar-nav .nav-link:hover {
    color: var(--light);
    
  }

  .collapse{
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .nav-item{
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .card img {
    max-width: 50px;
  }
  
  .footer {
    background-color: goldenrod;
}

.footer_title {
    font-weight: 300;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer_title,
.footer_newsletter {
    color: black;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav_link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input {
    background-color: white;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: black;
    border: none;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
}

.footer_copy {
    --padding-container: 30px 0;
    text-align: center;
    color: black;
}

.footer_copyright {
    font-size: 15px;
}

.footer_icons {
    margin-bottom: 10px;
}

.footer_img {
    width: 30px;
}